
@{
    ViewData["Title"] = "Editarerror";
}

<h3 class="text-center text-danger" style="margin-top:100px;">Su solicitud <strong>NO PUEDE SER EDITADA</strong></h3>
<center>
    <img src="~/images/cerrado.png" class="img-responsive" style="width:210px;" />
</center>


<div class="alert alert-info">
    <strong>NOTA:</strong>
    <p class="text-center text-info">
    Cuando la solicitud está en revisión no se puede editar. 
    </p>
</div>

