
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger text-center">No se pudo encontrar el recurso solicitado. :'(</h2>
<center>
    <img src="~/images/notfound.png" style="width:40%" />
</center>
