
@{
    ViewData["Title"] = "ProcesoCerrado";
}
<br /><br />
<h2 class="text-danger text-center">El Proceso Está Cerrado</h2>
<center>
    <img src="~/images/cerrado.png" style="width:10%" />
    <p class="text-info text-center">Este proceso ya cerró. Comunicate con los encargados en el centro educativo</p>
</center>
