@model Sistema_de_Admisiones.ViewModel.Documentos
@{
    ViewData["Title"] = "Ver documento";
}

<h2 class="text-center text-info">Ver Documentos de Admisión</h2>


    
<center>

    <embed src="~/Documentos/@Model.Tipo_Documento"   style="width:100%; height:1000px;" class="embed-responsive" />
    
</center>



