
@{
    ViewData["Title"] = "vista";
}

<h2 class="text-center text-info" style="margin-top:100px;">¡Su Solicitud Fue Enviada!</h2>
<center>
    <img src="~/images/send.png" class="img-responsive" style="width:210px;" />
</center>

<p class="text-danger text-center">Mántente pendiente de las notificaciones, Evaluaciones y las calificaciones de los procesos</p>

<div class="alert alert-info">
    <strong>NOTA:</strong>
    <p class="text-center text-info">
        Puedes editar tu solicitud de admisión siempre y cuando la misma no esté en revisión. Si la
        solicitud entra en revisión ya no es posible editarla. Puedes editar tu solicitud desde: <strong>Admisiones - Editar Mi Solicitud</strong>

    </p>
</div>






@*<form method="post" asp-action="vista" enctype="multipart/form-data">
        <input type="submit" value="GO" />
        <input type="file" name="pic" /><br />
        <input type="text" name="fullname" /><br />
        <label>@ViewData["Ruta"]</label>
        <img src="~/FotosPerfil/@ViewData["Foto"]" style="width:60px;" />




    </form>*@

