
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger text-center">No se pude actualizar la foto de perfil en estos momentos. Intente mas tarde. :'(</h2>
<center>
    <img src="~/images/alert.png" style="width:30%" />
</center>

